{
    "parser": "@typescript-eslint/parser",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "plugins": ["@typescript-eslint", "react-hooks"],
    "rules": {
        "comma-dangle": "off",
        "arrow-parens": "off",
        "require-jsdoc": "off",
        "no-debugger": "off",
        "import/no-unresolved": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "no-var-requires": "off",
        "react/display-name": "off"
    },
    "extends": [
        "eslint:recommended",
        "google",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript"
    ]
}